.parent-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #7b79ce 29.69%, rgba(203, 39, 229, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bottom-tabs-main-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 78px;
    background: rgba(97, 114, 211, 0.47);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;;
}
.bottom-tabs-tabs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Short Stack';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.news-feed-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.profile-internal-container {
    background: #FFFFFF;
    border-radius: 50%;
    width: 40px;
}
.news-feed-container-internal {
    z-index: 1;
    height: 600px;
    background: #F4F3F3;
    border-radius: 10px;
    width: 368px;
    overflow: scroll
}
.post-card-main-container {
    margin: 0 auto;
    margin-top: 10px;
    width: 350px;
    background: #F4F3F3;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;

    color: #000000;

}
.internal-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.first-section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.second-section-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
}
.post-image {
    height: 120px;
    width: 300px;
    border-radius: 10px;
}
.profile-container {
    display: flex;
    width: 30%;
}
.profile-img {
    display: flex;
    width: 30%;
}
.feed-title-container {
    display: flex;
    width: 70%;
}
.feed-image-container {
    display: flex;
    width: 70%;
}