.news-feed-container-internal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 6px 12px 6px 12px;
    width: 100%;
    overflow-y: auto;
}
.misc-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
}
.post-card-main-container {
    border: 1px solid rgb(93,133,235);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    background: #272d3d;
    color: rgb(93,133,235);
    font-family: 'Dot Matrix', sans-serif;
}
.internal-card-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.first-section-container {
    display: flex;
    flex: 0.3;
    padding: 5px;
}
.feed-title-container {
    margin-left: 1em;
}
.post-image {
    margin-left: 1em;
}
.second-section-container {
    flex: 0.6;
}
.new-feed-post {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 10%;
    width: 90vw;
    border-radius: 15px;
    max-width: 720px;
    height: 15vh;
    display: flex;
    background: #f2f2f2;
}
.videos {
    display: flex;
    flex: 0.3;
    justify-content: center;
    gap: 2px;
    align-items: center;
    background: #F4F3F3;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    filter: blur(1px);
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #000000;

}
.submit {
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    background: #F4F3F3;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}
#file-input-photos {
    display: none;
}
