.card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 12px; 
    background: #FFFFFF;
    padding: 12px;
}
.avatar-name {
    display: flex;
    gap: 6px;
    align-items: center;
}
.send-message {
    display: flex;
    align-items: center;
}
.freind-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 12px 0 12px;
}